.pendu {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.hiddenWordContainer {
margin: 40px 0;
}

.hiddenWord {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.title {
	display: flex;
	flex-wrap: wrap;
	font-size: 32px;
  margin: auto;
	padding: 30px 0;
  user-select: none;
	justify-content: center;
}

.subtitle {
	display: flex;
	flex-wrap: wrap;
	font-size: 32px;
  margin: auto;
	padding: 30px 0;
  user-select: none;
	justify-content: center;
	text-align: center;
}

.endGame {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: auto;
	padding: 30px 0;
}

.hint{
	display: flex;
	flex-wrap: wrap;
	font-size: 18px;
	margin: 10px 0;
	padding: 5px 0;
	flex-grow: 4;
}

.life {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
	padding: 5px 0;
}
