.pendu {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.hiddenWord {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: auto;
  user-select: none;
}

.title {
	display: flex;
	flex-wrap: wrap;
	font-size: 32px;
  margin: auto;
	padding: 30px 0;
  user-select: none;
	justify-content: center;
}

.subtitle {
	display: flex;
	flex-wrap: wrap;
	font-size: 32px;
  margin: auto;
	padding: 30px 0;
  user-select: none;
	justify-content: center;
	text-align: center;
}
